.map{
    height: 200px;
    background-image: url(/img/map-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.map-mask{
    width: inherit;
    height: inherit;
    background-color: rgba(239, 239, 239, 0.8);
}

.map-content{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 57px;
    margin: 0 auto;
}

.map-titlle{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #f38181;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.map-titlle::after{
    content: '';
    display: block;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 17px;
}

.map-content svg{
    fill: #f38181;
}