html,
body,
h1,h2,h3,h4,h5,h6,
p,
ul,
li{
    margin: 0;
    padding: 0;
}
*,
**::after,
**::before
{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding-top: 64px;
   
    

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}

section{
    padding: 100px 0 100px 0;
    
    @media (max-width: 767px) {
        padding: 65px 0;
    }
}

$main-color: rgb(81, 172, 233);
$accent-color: #ffa500;
// color: #9acd32; 

.wrapper{
    overflow-x: hidden;
    overflow: auto;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    @media(max-width: 500px){
        padding: 0 10px;
    }
}

.title{
    font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        color: $accent-color;
        @media (max-width: 767px) {
            
        }
}

.subtitle{
    font-size: 22px;
    color: $main-color; 
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    
    &::after{
        content: '';
        display: block;
        width: 100px;
        height: 10px;
        background-color: orange;
        margin: 50px auto ;
    }

    
}

.logo{
    width: 90px;
    height: 60px;
    position: relative;
    z-index: 3;
    margin-bottom: 15px;
    
  
   
    svg{
        fill: $main-color;
        stroke: rgb(223, 121, 25);
        stroke-width: 7px;
    }
}

@media (max-width: 767px) {
    .title{
        font-size: 36px;
    }
    .subtitle{
        font-size: 17px;
        max-width: 450px;
    }
    .subtitle::after{
        margin: 30px auto;
    }
}


