
//----Heder-------------
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0 1px 5px 0 rgba(128, 128, 128, 0.5);
    background-color: #f3f7fc;;
    &__menu{
        position: relative;
        display: flex;
        justify-content: space-between;
        //padding-top: 30px;
        height: 80px;
        align-items: center;
         
       
    }
    
    &__list{
        display: flex;
        position: relative;
        z-index: 3;
        
    }
    &__item{
        margin-left: 40px;
        
    }
    &__link{
        color: $accent-color;
        transition: all .3s;
        text-transform: uppercase;
        font-weight: 600;
        
        &:hover{
         color: $main-color; 
        }
    }
    &__burger{
        display: none;
    }
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: inherit;
    //     height: 100%;
    //     background-color: rgba(128, 128, 128, 0.4);
    //     z-index: 3;
        
    // }
}

@media(max-width: 767px){
    .header{
       &__menu{
            height: 60px;
        }
        &__logo{
            margin-top: 30px;
            svg{
                height: 50px;
                
            }
        }
       &__burger{
           display: block;
           position: relative;
           width: 30px;
           height: 20px;
           z-index: 3;
           
           
           span{
            
            background-color: $main-color;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 8px;
            
           }
       }
       &__nav{
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(243, 247, 252);
           padding: 70px 0 0 0;
           top: -200%;
           transition: all 0.5s ease-in-out;
           overflow: auto;
           
           
       }

       &__nav.active{
           top: 0;
           
       }
       &__list{
           display: block;
       }
       &__item{
           margin: 0 0 20px 0;
           text-align: center;
           font-size: 24px;
       }
       &__link{
        font-size: 22px;
       }
      
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: $main-color;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all .3s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active{
        transition: all 0.5s;
        &::before{
            transform: rotate(-45deg);
            top: 10px;
            
        }
        &::after{
            transform: rotate(45deg);
            bottom: 7px;
        }
        span{
            overflow: hidden;
            visibility: hidden;
        }
    }
    body.lock{
        overflow: hidden;
    }
}
//--------------------------------------------------
//------Hero-----
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../images/heri-bg.jpeg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &__mask{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        top: 0;
        left: 0;
    }
    &__title{
        font-size: 120px;
        text-align: center;
        
        color: $main-color;
        text-transform: uppercase;
        padding-top: 140px;
        
       
        span{
            display: block;
            font-size: 70px;
            letter-spacing: 2.1px;
            font-weight: 700;
            color: $accent-color;

            
        }
        i{
             color: orange;
            font-style:normal;
        }

    }
}

@media(max-width: 1050px){
    .hero{
        
        background-position: center center;
        &__title{
            font-size: 96px;
            span{
                font-size: 50px;
            }
        }
        &__mask{
            background-color: transparent;
            
        }
    }
    
}

@media(max-width: 769px){
    .hero{
        
        background-size: 90%;
        &__title{
            font-size: 96px;
            padding-top: 90px;
            span{
                font-size: 50px;
            }
        }
        
        
    }
}

@media(max-width: 475px){
    .hero{
        background-size: 80%;
        background-position: left center;
        
        &__title{
            font-size: 60px;
            padding-top: 40px;
            span{
                font-size: 30px;
            }
        }
    }
   
}

//--------------------------------------------



//----------------------------------------
//----------Section aboutUs------------

.about-us{
    
    background-color: rgb(243, 247, 252);
    
    

    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 300px;
        text-align: center;
        box-shadow: 0 0 3px $main-color; 
        padding: 15px 7px;
        color: #929292;
    }

    &__item-title{
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__item-icon{
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto 20px;
        svg{
            fill: orange;
            stroke-width: 5px;
        }
    }

    @media (max-width: 1050px){
        &__item{
            max-width: 250px;
        }
    }

    @media (max-width: 768px){
        &__list{
            flex-direction: column;
            align-items: center;
            
        }
        &__item{
            margin-bottom: 40px;
            max-width: 350px;
            padding: 30px 15px;
            
        }
        &__item-text{
            font-size: 20px;
        }
    }
  
}
//--------------------------------------------------------------------------------
.products{
    

    &__list{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 30px 0 60px;
        // padding-top: 50px;
        // padding-left: 30px;
        overflow: hidden;
        //padding-right: 30px;

    }
    &__item{
        max-width: 250px;
        
        margin-bottom: 40px;
        
        object-position: center;
        img{
            width: 250px;
            height: 200px;
            object-fit: contain;
            object-position: center;
        }
    }
    .slider__arrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 5;
        top: 50%;
        bottom: 50%;
        background-color: rgba(255, 165, 0, 0.4);
        transition: all .3s;
        &:hover{
            background-color: rgba(255, 165, 0, 1);
            
        }
    }
    .next-arrow{
        right: 0px;
    }
    .prev-arrow{
        left: 0px;
    }
    @media(max-width: 620px){
        .slick-initialized div{
          display: flex;
          align-items: center;
          justify-content: center;
        }
    }
}

//-----------------------------
//----Section-Blog---------------

.blog{
    
    background-color: rgb(243, 247, 252);
      &__content{
          display: flex;
          
          box-shadow: 0 0 3px gray;
    }
    &__first-row{
        display: flex;
        //width: 50%;
        flex: 0 1 50%;
       
        .column-b{
            flex: 1 0 50%;
            height: 400px;
            background-image: url(../images/blog-2.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
   
       }
      
       
      
       .image-s{
           flex: 0 1 50%;
           background-image: url(../images/blog-4.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
       }
    }

    &__second-row{
        display: flex;
        flex: 0 1 50%;
        .column-b{
            flex: 1 0 50%;
            height: 400px;
            background-image: url(../images/blog-6.jpg);
            background-position: center left;
            background-size: cover;
            background-repeat: no-repeat;
   
       }
       
        
       .image-s{
        //flex: 0 1 50%;
        background-image: url(../images/blog-5.jpg);
         background-position: center center;
         background-size: cover;
         background-repeat: no-repeat;
         height: 50%;
    }
    }
    .blog__column-text{
        display: flex;
        padding: 30px 15px;
        height: 50%;
        text-align: center;
        box-sizing: border-box;
        color: #636060;
        align-items: center;
        justify-content: start;
        background-color: #fff;
        
       }

       .column-s{
        display: flex;
        flex-direction: column;
        
    }
   

}

@media(max-width: 768px){
    .blog{
        &__content{
            flex-direction: column;
        }
        &__second-row{
            .column-s{
                .blog__column-text{
                    
                    order: 1;
                }
                .image-s{
                    order: 2;
                }
            }
           
        }
      &__column-text{
        font-size: 20px;
      }
      
    }
}

@media(max-width: 560px){
    .blog{
        
        &__row{
            flex-direction: column;
        }
        .column-b,
        .image-s{
            min-height: 250px;
        }
        &__second-row{
            .column-s{
                .blog__column-text{
                    order: 2;
                }
                .image-s{
                    display: none;
                }
            }
           
        }
    }
}



//-----------------------------------
//------Map----------------


#map{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 3px gray;
}



//-------------------------------------------------------
//-----------Footer-------------------

.footer{
    padding: 100px 0 100px 0;
    background-color: rgb(243, 247, 252);

    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 25px;
        color: $main-color;
        span{
            color: $accent-color;
        }
    }
    &__item{
        margin-bottom: 5px;
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media(max-width: 767px){
    .footer{
      padding: 70px 0;
      &__content{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      &__item{
          text-align: center;
          margin-bottom: 10px;
          font-size: 20px;
      }
      &__item-workingtime{
          width: 250px;
      }
    }
}

@media(max-width: 500px){
    .footer{
        padding: 50px 0;
        &__title{
            font-size: 35px;
        }
    }
}